/*Root*/


/*Universal Inputs*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 30px;

}

body {
    background-color: steelblue;
}

.score {
    position: relative;
    left: 20px;
}

.timer {
    position: relative;
    right: 25px;
}

h1 {
    text-align: center;
    position: relative;
    top: 50px;
}

.wrapper {
    position: relative;
    text-align: center;
    top: 150px;
}

.wrapper p {
    font-size: 40px;
    margin: 10px;
}

button {
    background-color: blue;
    border: gold solid 4px;
    border-radius: 3px;
    position: relative;
    font-size: 40px;
    text-align: center;
}

button:hover {
    background-color: gold;
}


#questions {
    display: none;  
  } 